<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Artemis Academy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{img/favicon.png}" rel="icon">
  <link th:href="@{img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{css/style.css}" rel="stylesheet">
</head>

<body>

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <span>Registro Exitoso</span>
        <h2>Registro Exitoso</h2>
        <p>Tu cuenta en Artemis Academy ha sido creada. Por favor inicia sesión en la página principal.</p>
      </div>
      <p align="center"><img th:src="@{img/RegistroExitoso.png}" width=" 200" height="160"></p>
      <a th:href="@{/login}" class=" d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-left-square-fill"></i>&nbsp Ir a
        página de iniciar sesión</a>
    </div>
  </section><!-- End Contact Section -->
  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script th:src="@{vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{vendor/swiper/swiper-bundle.min.js}"></script>


  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>

</body>

</html>