<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cliente Artemis</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{img/favicon.png}" rel="icon">
  <link th:href="@{img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{css/style.css}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Artemis Academy</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#about">Mis Citas</a></li>
          <li><a class="nav-link scrollto" href="#contact">Agendar</a></li>
          <li><a class="getstarted scrollto" href="">Cerrar Sesión</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Bienvenido <span sec:authentication="principal.nombres"></span>&nbsp<span
              sec:authentication="principal.apellidos"></span></h1>
          <h2>Aquí podras gestionar y agendar nuevas citas.</h2>
          <h3><span sec:authentication="principal.id"></span></h3>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img th:src="@{img/portada_cliente.jpeg}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <img th:src="@{img/agendar_cita.jpeg}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Tus Citas:</h3>
            <br>
            <table class="table table-hover">
              <thead>
                <tr class="text-center">
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Procedimiento</th>
                  <th scope="col">Micropigmentadora</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" th:each="cita:${citas}">
                  <td th:text="${cita.fecha}"></td>
                  <td th:text="${cita.hora}"></td>
                  <td th:text="${cita.servicioModels.descripcion}"></td>
                  <td th:text="${cita.micropigmentadoraModel.nombres}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Agendar</span>
          <h2>Agendar</h2>
          <p>Ingresa tu correo y contraseña para acceder</p>
        </div>

        <div class="row">
          <div class="col-lg mt-5 mt-lg-0 d-flex align-items-center">
            <form action="" method="POST" role="form" class="email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="fechaCita">Fecha</label>
                  <input type="date" class="form-control" id="fechaCita" name="fechaCita" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="horaCita">Hora</label>
                  <input type="time" class="form-control" id="horaCita" name="horaCita" min="09:00" max="18:00"
                    required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="servicio">Servicio</label>
                  <select name="servicio" id="servicio" class="form-control">
                  </select>
                </div>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="my-3 text-center"><button type="submit" id="agendarCita" name="agendarCita">Agendar</button>
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Artemis Academy</span></strong>. Derechos Reservados
      </div>
      <div class="credits">
        Diseñado Por NeoTech
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{vendor/swiper/swiper-bundle.min.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{js/main.js}"></script>

</body>

</html>